@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  font-family: "Roboto", "Sans-serif";
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}
nav {
  position: fixed;
  top: 0;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav > h1 {
  margin: 1rem;
}
#posts {
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px 20% 0 20%;
  background-color: lightpink;
}
form > h3 {
  text-align: center;
  margin: 0;
}
form > button {
  width: 30%;
  margin: 10px auto 5px auto;
}
main {
  margin-top: 55px;
}
.post-title,
.post-body {
  text-align: center;
}
