@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", "Sans-serif";
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}
nav {
  position: fixed;
  top: 0;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

nav > h1 {
  margin: 1rem;
}
fieldset {
  display: flex;
  flex-direction: column;
}
main {
  margin-top: 55px;
}
.post-title,
.post-body {
  text-align: center;
}
